In [1]:
! pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\eram khan\appdata\roaming\python\python310\site-packages (4.12.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\eram khan\appdata\roaming\python\python310\site-packages (from selenium) (0.10.4)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\eram khan\appdata\roaming\python\python310\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\eram khan\appdata\roaming\python\python310\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\eram khan\appdata\roaming\python\python310\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\eram khan\appdata\roaming\python\python310\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\eram khan\appdata\roaming\python\python310\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [5]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
#1. PYTHON PROGRAM TO SCRAPE DATA FOR DATA ANALYST IN BANGALORE

#opening webpage on automated chrome browser
driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

In [8]:
#click on search button to open next search window

search=driver.find_element(By.CLASS_NAME,"SearchBarRight")
search.click()

In [9]:
#entering job position 'Data Analyst' and location 'Bangalore' in respective fields

designation=driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys('Data Analyst')

In [10]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [11]:
#click search button
    
search_button= driver.find_element(By.CLASS_NAME,"searchForm_btnWrap__Cb75F")
search_button.click()

In [12]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [ ]:
#scrape the 'job-title' data
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
title_tags

In [24]:
#extract the text
job_titles=[]
for i in title_tags:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
job_titles[:10]

['Technical Data Analyst',
 'opening data analyst -Bangalore',
 'Data Entry Operator(data analyst work) REMOTE WORK',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Mobility Data Analyst - IN/MKR',
 'Senior Data Analyst',
 'hiring for data entry analyst ( position data entry ) w ...',
 'hiring for data entry analyst ( position data entry ) w ...']

In [ ]:
#scrape the data
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
location_tags

In [29]:
#extract text
job_location=[]
for i in location_tags:
    job_location.append(i.text)
job_location[:10]

['Bangalore\n+9',
 'Bangalore',
 'Bangalore\n+9',
 'Bangalore\n+8',
 'Bangalore\n+8',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+9',
 'Bangalore\n+9']

In [ ]:
#scrape the data
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
company_tags

In [30]:
#extract text from tags
company_name=[]
for i in company_tags:
    company_name.append(i.text)
company_name[:10]

['krishna consultancy.. hiring for co...',
 'provizor it services pvt. ltd.',
 'prime services..',
 'harjai computers private limited',
 'harjai computers private limited',
 'true caller',
 'bosch group',
 'true caller',
 'prime services..',
 'realtech solutions']

In [ ]:
#scrape data
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
experience_tags

In [32]:
#extract data
experience_required=[]
for i in experience_tags:
    experience_required.append(i.text)
experience_required[:10]

['4 to 9 Yrs',
 '2 to 5 Yrs',
 '0 to 1 Yr',
 '2 to 5 Yrs',
 '0 to 2 Yrs',
 '3 to 5 Yrs',
 '4 to 6 Yrs',
 '5 to 7 Yrs',
 '0 to 1 Yr',
 '0 to 1 Yr']

In [33]:
print(len(job_titles[:10])),print(len(company_name[:10])),print(len(experience_required[:10])),print(len(job_location[:10]))

10
10
10
10

(None, None, None, None)

In [38]:
df=pd.DataFrame({'Title':job_titles,'Location':job_location,'Company_name':company_name,'Experience_required':experience_required})
df
df.head(10)

,Title,Location,Company_name,Experience_required
0,Technical Data Analyst,Bangalore\n+9,krishna consultancy.. hiring for co...,4 to 9 Yrs
1,opening data analyst -Bangalore,Bangalore,provizor it services pvt. ltd.,2 to 5 Yrs
2,Data Entry Operator(data analyst work) REMOTE ...,Bangalore\n+9,prime services..,0 to 1 Yr
3,Hiring For Data Analyst,Bangalore\n+8,harjai computers private limited,2 to 5 Yrs
4,Senior Data Analyst,Bangalore\n+8,harjai computers private limited,0 to 2 Yrs
5,Data Analyst,Bangalore,true caller,3 to 5 Yrs
6,Mobility Data Analyst - IN/MKR,Bangalore,bosch group,4 to 6 Yrs
7,Senior Data Analyst,Bangalore,true caller,5 to 7 Yrs
8,hiring for data entry analyst ( position data ...,Bangalore\n+9,prime services..,0 to 1 Yr
9,hiring for data entry analyst ( position data ...,Bangalore\n+9,realtech solutions,0 to 1 Yr

In [40]:
#2. PYTHON PROGRAM TO SCRAPE DATA FOR DATA SCIENTIST IN BANGALORE

#opening webpage on automated chrome browser
driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

In [43]:
#click on search button to open next search window

search1=driver.find_element(By.CLASS_NAME,"SearchBarRight")
search1.click()

In [44]:
#entering job position 'Data scientist' and location 'Bangalore' in respective fields

designation1=driver.find_element(By.CLASS_NAME,"form-control")
designation1.send_keys('Data Scientist')

In [45]:
location1=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location1.send_keys('Bangalore')

In [46]:
#click search button
    
search_button1= driver.find_element(By.CLASS_NAME,"searchForm_btnWrap__Cb75F")
search_button1.click()

In [52]:
#scrape the 'job-title' data
title_tags1=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
title_tags1

In [51]:
#extract the text
job_titles1=[]
for i in title_tags1:
    if i.text is None:
        job_titles1.append('Not')
    else:
        job_titles1.append(i.text)
job_titles1[:10]

['Data Scientist',
 'SR. DATA SCIENTIST',
 'Senior Data Scientist- ML Engineer',
 'Data Scientist III',
 'Data Scientist Hiring Fresher and Experience',
 'Opening for Computer executive, data typing , entry dat ...',
 'Data Scientist',
 'Senior Data Scientist, AWS',
 'Data Scientist Recruitment',
 'Data Engineer II, Amazon WFM Tech Enterprise Data']

In [ ]:
#scrape the data
location_tags1=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
location_tags1

In [58]:
#extract text
job_location1=[]
for i in location_tags1:
    job_location1.append(i.text)
job_location1[:10]

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+17',
 'Bangalore\n+9',
 'Bangalore\n+6',
 'Bangalore',
 'Bangalore\n+17',
 'Bangalore']

In [ ]:
#scrape the data
company_tags1=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
company_tags1

In [60]:
#extract text from tags
company_name1=[]
for i in company_tags1:
    company_name1.append(i.text)
company_name1[:10]

['the fashion cosmo',
 'te connectivity india pvt ltd',
 'sap india pvt ltd',
 'inmobi',
 'kavya staffing solutions',
 'realtech solutions',
 'quiscon biotech',
 'amazon',
 'kavya staffing solutions',
 'amazon']

In [ ]:
#scrape data
experience_tags1=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
experience_tags1

In [63]:
#extract data
experience_required1=[]
for i in experience_tags1:
    experience_required1.append(i.text)
experience_required1[:10]

['0 to 4 Yrs',
 '5 to 7 Yrs',
 '5 to 7 Yrs',
 '7 to 9 Yrs',
 '0 to 4 Yrs',
 '0 to 1 Yr',
 '0 to 1 Yr',
 '10 to 12 Yrs',
 '0 to 4 Yrs',
 '3 to 5 Yrs']

In [64]:
print(len(job_titles1[:10])),print(len(company_name1[:10])),print(len(experience_required1[:10])),print(len(job_location1[:10]))

10
10
10
10

(None, None, None, None)

In [66]:
df1=pd.DataFrame({'Title':job_titles1,'Location':job_location1,'Company_name':company_name1,'Experience_required':experience_required1})
df1
df1.head(10)

,Title,Location,Company_name,Experience_required
0,Data Scientist,Bangalore,the fashion cosmo,0 to 4 Yrs
1,SR. DATA SCIENTIST,Bangalore,te connectivity india pvt ltd,5 to 7 Yrs
2,Senior Data Scientist- ML Engineer,Bangalore,sap india pvt ltd,5 to 7 Yrs
3,Data Scientist III,Bangalore,inmobi,7 to 9 Yrs
4,Data Scientist Hiring Fresher and Experience,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
5,"Opening for Computer executive, data typing , ...",Bangalore\n+9,realtech solutions,0 to 1 Yr
6,Data Scientist,Bangalore\n+6,quiscon biotech,0 to 1 Yr
7,"Senior Data Scientist, AWS",Bangalore,amazon,10 to 12 Yrs
8,Data Scientist Recruitment,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
9,"Data Engineer II, Amazon WFM Tech Enterprise Data",Bangalore,amazon,3 to 5 Yrs

In [7]:
#3. A PYTHON PROGRAM TO SCRAPE DATA USING FILTERS ON WEBPAGE

#opening webpage on automated chrome browser
driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

In [15]:
srch_b1=driver.find_element(By.CLASS_NAME,"SearchBarRight")
srch_b1.click()

In [16]:
designation3=driver.find_element(By.CLASS_NAME,"form-control  ")
designation3.send_keys('Data Scientist')

In [17]:
search_button2= driver.find_element(By.CLASS_NAME,"searchForm_btnWrap__Cb75F")
search_button2.click()

In [ ]:
srch_butn= driver.find_element(By.CLASS_NAME,"filter_filterBtn__FAqUy btn btn-outline-grey font-size-xs ")
srch_butn.click()

In [46]:
#4.SCRAPE DATA FOR FIRST 100 SUNGLASSES

#opening webpage on automated chrome browser

driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [47]:
#Entering 'sunglasses' in search field'

product=driver.find_element(By.CLASS_NAME,"Pke_EE")
product.send_keys('sunglasses')

In [ ]:
#click on search button

srch_b=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
srch_b.click()

In [52]:
#Scraping the data from 3 pages

B_name=[]
start=0
end=3
for page in range(0,3):
    
    b_name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in b_name:
        B_name.append(i.text)
        
nxt_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
nxt_btn.click()

In [49]:
Price=[]
start=0
end=3
for page in range(0,3):
    
    price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        Price.append(i.text)
        
nxt_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
nxt_btn.click()

In [53]:
P_desc=[]
start=0
end=3
for page in range(0,3):
    
    p_desc = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in p_desc:
        P_desc.append(i.text)
        
nxt_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
nxt_btn.click()

In [55]:
Discount=[]
start=0
end=3
for page in range(0,3):
    
    discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in discount:
        Discount.append(i.text)
        
nxt_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
nxt_btn.click()

In [56]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [57]:
#creating dataframe
df3=pd.DataFrame({'Brand':B_name[:100],'Price':Price[:100],'Prodcut_description':P_desc[:100],'Discount':Discount[:100]})
df3

,Brand,Price,Prodcut_description,Discount
0,Fastrack,₹499,"Mirrored, UV Protection Wayfarer Sunglasses (53)",44% off
1,Fastrack,₹549,"UV Protection Rectangular, Retro Square Sungla...",62% off
2,Rich Club,₹488,"Polarized, UV Protection Sports Sunglasses (68)",38% off
3,Fastrack,₹549,"UV Protection, Mirrored Sports Sunglasses (62)",75% off
4,eyedens,₹249,"Polarized, Riding Glasses Sports, Wrap-around ...",84% off
...,...,...,...,...
95,Fastrack,₹649,"Riding Glasses, UV Protection Clubmaster, Wayf...",40% off
96,VINCENT CHASE,₹549,"Polarized, UV Protection Round Sunglasses (48)",89% off
97,Douceur,₹299,UV Protection Wayfarer Sunglasses (50),70% off
98,Fastrack,₹599,"Polarized, UV Protection, Riding Glasses Wayfa...",80% off
99,PIRASO,₹279,"UV Protection, Gradient Aviator Sunglasses (58)",63% off

In [194]:
#5. SCRAPE FIRST 100 REVIEWS OF iPHONE 11

#opening webpage on automated chrome browser

driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd")

In [ ]:
#scraping data from webpages

Rating=[]
start=0
end=10
for page in range(0,10):
    
    rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        Rating.append(i.text)
        
nxt_btn2=driver.find_element(By.XPATH,'//div[@class="_3UAT2v _16PBlm"]')
nxt_btn2.click()

In [ ]:
Summary=[]
start=0
end=10
for page in range(0,10):
    
    sumry= driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for j in sumry:
        Summary.append(j.text)
        
nxt_btn2=driver.find_element(By.XPATH,'//div[@class="_3UAT2v _16PBlm"]')
nxt_btn2.click()

In [ ]:
Full_review=[]
start=0
end=10
for page in range(0,10):
    
    full_r= driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for k in full_r:
        Full_review.append(k.text)
        
nxt_btn2=driver.find_element(By.XPATH,'//div[@class="_3UAT2v _16PBlm"]')
nxt_btn2.click()

In [201]:
print(len(Rating[:100])),print(len(Summary[:100])),print(len(Full_review[:100]))

100
100
100

(None, None, None)

In [208]:
#creating dataframe
df5=pd.DataFrame({'Rating':Rating[:100],'Review Summary':Summary[:100],'FULL_Review':Full_review[:100]})
df5

,Rating,Review Summary,FULL_Review
0,5,Best in the market!,Good Camera
1,5,Worth every penny,Feeling awesome after getting the delivery of ...
2,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
3,5,Terrific,Very very good
4,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
...,...,...,...
95,5,Fabulous!,Super🔥 and good performance 👌❤️
96,5,Classy product,Photos super
97,5,Just wow!,Perfect Product!!
98,5,Must buy!,It’s really awesome
99,5,Wonderful,This is amazing at all

In [58]:
#6.SCRAPE DATA FOR FIRST 100 'SNEAKERS'

#opening webpage on automated chrome browser

driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [59]:
#Entering 'sneakers' in search field'

product=driver.find_element(By.CLASS_NAME,"Pke_EE")
product.send_keys('sneakers')

In [60]:
#click on search button

srch_b1=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
srch_b1.click()

In [61]:
#scraping data from the webpages

B_name1=[]
start=0
end=3
for page in range(0,3):
    
    b_name1 = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in b_name1:
        B_name1.append(i.text)
        
nxt_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
nxt_btn.click()

In [64]:
P_desc1=[]
start=0
end=3
for page in range(0,3):
    
    p_desc1 = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in p_desc1:
        P_desc1.append(i.text)
        
nxt_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
nxt_btn.click()

In [62]:
Price1=[]
start=0
end=3
for page in range(0,3):
    
    price1 = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price1:
        Price1.append(i.text)
        
nxt_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
nxt_btn.click()

In [65]:
print(len(B_name1[:100])),print(len(Price1[:100])),print(len(P_desc1[:100]))

100
100
100

(None, None, None)

In [66]:
#creating dataframe

df4=pd.DataFrame({'Brand':B_name1[:100],'Price':Price1[:100],'Prodcut_description':P_desc1[:100]})
df4

,Brand,Price,Prodcut_description
0,MEGPAR,₹399,VZAZZY White Casual Trendy Daily use Comfortab...
1,VZAZZY,₹498,"Thunder-01 White Color Change Sneakers,Casuals..."
2,asian,"₹1,679",Sneakers For Women
3,Deals4you,₹428,"Tarzan-04 White Sneakers,Casuals,Loafers,Styli..."
4,asian,₹599,SM-671 Sneakers For Men
...,...,...,...
95,asian,₹539,Sneakers For Men
96,Layasa,₹399,"Tarzan-21 White Color Changing Sneakers,Loafer..."
97,RapidBox,₹549,X-Ray Sneakers For Men
98,Free Kicks,"₹1,175",Sneakers For Men
99,HRX by Hrithik Roshan,₹879,"Casual Sneaker Shoes For Men | Comfortable, Br..."

In [67]:
#7. A PYTHON PROGRAM TO SCCRAP DATA FROM AMAZON

#opening webpage

driver=webdriver.Chrome()
driver.get("https://www.amazon.in/")

In [41]:
import requests
page=requests.get("https://www.amazon.in/")
page

In [68]:
#entering'laptop' in search box
name=driver.find_element(By.ID,"twotabsearchtextbox")
name.send_keys('laptop')

In [69]:
#clicking on search button
srch10=driver.find_element(By.ID,"nav-search-submit-button")
srch10.click()

In [70]:
#selecting intel core i7
srch20=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[11]/li/span/a/span")
srch20.click()

In [71]:
#scraping the required data

Laptop=[]

laptop=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')

for i in laptop:
    if i.text is None:
        Laptop.append('Not')
    else:
        Laptop.append(i.text)

Laptop[:10]

['MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD 144Hz Gaming Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce RTX 3050, GDDR6 4GB/Black/1.8Kg), 11UC-1293IN',
 'ASUS Vivobook 15, Intel Core i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16GB/512GB/Win11/Office 2021/Blue/1.7 kg), X1502ZA-EJ741WS',
 'Dell Inspiron 5430 Laptop, Intel Core i7-1360P Processor/ 16GB/ 1TB SSD/14.0" (35.56cm) FHD+ WVA AG with Comfortview 250 nits/Backlit KB + FPR/Win 11 + MSO\'21/15 Month McAfee/Platinum Silver/ 1.59kg',
 'MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD 144Hz Gaming Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce GTX 1650, GDDR6 4GB/Black/1.8Kg), 11SC-1462IN',
 'HP Victus Gaming Laptop, 12th Gen Intel Core i7-12650H, NVIDIA RTX 3050 GPU, 15.6-inch (39.6 cm), FHD, IPS, 144Hz, 9 ms Response time, 16GB DDR4, 512GB SSD, Backlit KB (MSO, Blue, 2.29 kg), fa0188TX',
 'ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, 4GB NVIDIA GeForce RTX 3050 Ti, Gaming Laptop (16GB/512GB SSD/Windows 11/90WHrs Battery/Black/2.30 Kg), FX506HE-HN382W',
 'HP Laptop 15s, 12th Gen Intel Core i7-1255U, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 512GB SSD, Intel Iris Xe Graphics, Backlit KB, Thin & Light (Win 11, MSO 2021, Silver, 1.69 kg), fq5190TU',
 'MSI Thin GF63, Intel 12th Gen. i7-12650H, 40CM FHD 144Hz Gaming Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce RTX 4050, GDDR6 6GB/Black/1.86Kg), A12VE-070IN',
 'Lenovo [SmartChoice IdeaPad Slim 3 Intel Core i7 11th Gen 15.6" (39.62cm) FHD Laptop (16GB/512GB SSD/Win 11/Office 2021/1 Year Warranty/Arctic Grey/1.65Kg), 82H803LNIN',
 'Lenovo ThinkPad E14 Intel Core i7 12th Gen 14" FHD IPS Thin and Light Laptop (16GB RAM/1TB SSD/Windows 11 Home/MS Office H&S 2021/Backlit Keybaord/FPR/Black/1.59 kg), 21E3S05800']

In [76]:
Rating=[]

rating = driver.find_elements(By.XPATH,'//span[@class="a-size-base puis-bold-weight-text"]')
rating

for i in rating:
    if i.text is None:
        Rating.append('Not')
    else:
        Rating.append(i.text)
Rating

['4.2',
 '4.0',
 '3.3',
 '4.3',
 '4.7',
 '4.1',
 '3.5',
 '3.8',
 '3.5',
 '3.6',
 '3.8',
 '4.5',
 '4.0',
 '4.5',
 '4.4',
 '4.7',
 '4.0',
 '2.0',
 '4.2',
 '3.9',
 '4.0',
 '3.5',
 '3.6',
 '4.4']

In [78]:
Pricee=[]

pricee = driver.find_elements(By.XPATH,'//span[@class="a-price"]')
pricee

for i in pricee:
    if i.text is None:
        Pricee.append('Not')
    else:
        Pricee.append(i.text)
Pricee

['₹66,990',
 '₹64,990',
 '₹86,490',
 '₹59,990',
 '₹84,990',
 '₹80,990',
 '₹68,990',
 '₹92,990',
 '₹62,500',
 '₹98,990',
 '₹88,490',
 '₹89,990',
 '₹1,08,992',
 '₹1,15,990',
 '₹54,990',
 '₹84,990',
 '₹91,443',
 '₹85,990',
 '₹1,14,490',
 '₹86,680',
 '₹79,990',
 '₹89,990',
 '₹82,765',
 '₹99,999']

In [79]:
#creating dataframe

laptops=pd.DataFrame({'Title':Laptop[:10],'Ratings':Rating[:10],'Price':Pricee[:10]})
laptops

                                               Title Ratings    Price
0  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...     4.2  ₹66,990
1  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...     4.0  ₹64,990
2  Dell Inspiron 5430 Laptop, Intel Core i7-1360P...     3.3  ₹86,490
3  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...     4.3  ₹59,990
4  HP Victus Gaming Laptop, 12th Gen Intel Core i...     4.7  ₹84,990
5  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...     4.1  ₹80,990
6  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...     3.5  ₹68,990
7  MSI Thin GF63, Intel 12th Gen. i7-12650H, 40CM...     3.8  ₹92,990
8  Lenovo [SmartChoice IdeaPad Slim 3 Intel Core ...     3.5  ₹62,500
9  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...     3.6  ₹98,990

In [82]:
#8. A PYTHON PROGRAM TO SCRAPE DATA FOR TOP 1000 QUOTES OF ALL TIME

#opening webpage on automated chrome browser


driver=webdriver.Chrome()
driver.get("https://www.azquotes.com/")

#site cant be reached

In [11]:
#9. A PYTHON PROGRAM TO SCRAPE DATA and DISPLAY LIST OF RESPECTED FORMER PRIME MINISTERS OF INDIA

#opening webpage on automated chrome browser

driver= webdriver.Chrome()
driver.get("https://www.jagranjosh.com/")

In [42]:
page1=requests.get("https://www.jagranjosh.com/")
page1

In [12]:
#opening 'gk' option using url

url="https://www.jagranjosh.com/general-knowledge"
driver.get(url)

In [16]:
#selecting india gk

srch=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[5]/div/div/ul/li[6]/a')
srch.click()

In [17]:
#clicking on list of prime ministers
srch1=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[14]/div/div/ul/li[5]/a')
srch1.click()

In [18]:
#scraping data

prime_m=driver.find_elements(By.XPATH,'//div[@class="table-box"]')
prime_m

[]

In [48]:
#10. A PYTHON PROGRAM TO DISPLAY EXPENSIVE CARS

driver= webdriver.Chrome()
driver.get("https://www.motor1.com/")

In [49]:
ecars = driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input")
ecars.send_keys('50 most expensive cars in the world')

In [ ]:
srch=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]/svg')
srch.click()

In [57]:
Cars=[]

cars=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')

for i in cars:
    if i.text is None:
        Cars.append('Not')
    else:
        Cars.append(i.text)

Cars[:50]

[]

In [45]:
Pricec=[]

pricec=driver.find_elements(By.TAG_NAME,"strong")

for i in pricec:
    if i.text is None:
        Pricec.append('Not')
    else:
        Pricec.append(i.text)
        
Pricec[:50]

['Price: $1.5 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $2.8 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $4.8 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $7.5 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $10.8 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $28.0 Million (est.)',
 'Price: $30 Million (est.)']

In [47]:
cars=pd.DataFrame({'50 most expensive cars':Cars[:50],'Price':Pricec[:50]})
cars

                50 most expensive cars                        Price
0                  Aston Martin Valour          Price: $1.5 Million
1                         McLaren Elva          Price: $1.7 Million
2                          Czinger 21C          Price: $1.7 Million
3                        Ferrari Monza          Price: $1.7 Million
4                   Gordon Murray T.33          Price: $1.7 Million
5                    Koenigsegg Gemera          Price: $1.7 Million
6                          Zenvo TSR-S          Price: $1.7 Million
7                   Hennessey Venom F5          Price: $1.8 Million
8                      Bentley Bacalar          Price: $1.9 Million
9        Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10              Bentley Mulliner Batur          Price: $2.0 Million
11                        Deus Vayanne          Price: $2.0 Million
12                         SSC Tuatara          Price: $2.0 Million
13                         Lotus Evija          Price: $2.1 Million
14                 Aston Martin Vulcan          Price: $2.3 Million
15                          Delage D12          Price: $2.3 Million
16                 Ferrari Daytona SP3          Price: $2.3 Million
17                   McLaren Speedtail          Price: $2.3 Million
18                        Rimac Nevera          Price: $2.4 Million
19                       Pagani Utopia          Price: $2.5 Million
20                Pininfarina Battista          Price: $2.5 Million
21                  Gordon Murray T.50          Price: $2.6 Million
22                Lamborghini Countach          Price: $2.6 Million
23            Mercedes-AMG Project One          Price: $2.7 Million
24                        Zenvo Aurora          Price: $2.8 Million
25                 Aston Martin Victor          Price: $3.0 Million
26         Hennessey Venom F5 Roadster                 $3.0 Million
27                    Koenigsegg Jesko          Price: $3.0 Million
28               Aston Martin Valkyrie          Price: $3.2 Million
29           W Motors Lykan Hypersport          Price: $3.4 Million
30                       McLaren Solus                 $3.5 Million
31                    Lamborghini Sian          Price: $3.6 million
32                    Koenigsegg CC850          Price: $3.7 Million
33     Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34                  Lamborghini Veneno          Price: $4.5 Million
35                      Bugatti Bolide          Price: $4.7 Million
36           Pininfarina B95 Speedster          Price: $4.8 Million
37                     Bugatti Mistral          Price: $5.0 Million
38                 Pagani Huayra Imola          Price: $5.4 Million
39                        Bugatti Divo          Price: $5.8 Million
40                 SP Automotive Chaos          Price: $6.4 Million
41                    Pagani Codalunga          Price: $7.4 Million
42                        777 Hypercar          Price: $7.5 Million
43            Mercedes-Maybach Exelero          Price: $8.0 Million
44                  Bugatti Centodieci          Price: $9.0 Million
45             Bugatti Chiron Profilée         Price: $10.8 Million
46                Rolls-Royce Sweptail         Price: $12.8 Million
47            Bugatti La Voiture Noire         Price: $13.4 Million
48              Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)